html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
}

div.segment1 {
  position: absolute;
  top: 100px;
  right: 850px;
  width: 400px;
  height: 200px;
}

div.segment2 {
  position: absolute;
  top: 1530px;
  right: 300px;
  width: 950px;
  height: 200px;
}

div.segment3 {
  position: absolute;
  top: 1030px;
  right: 250px;
  width: 1000px;
  height: 200px;
}

div.segment4 {
  position: absolute;
  top: 550px;
  right: 250px;
  width: 1000px;
  height: 200px;
}
